
#projects .card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure card takes full height of the column */
  width: 100%; /* Ensure card takes full width of the column */
}

#projects .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allows the body to grow and fill space */
}

#projects .card-title {
  min-height: 48px; /* Adjust as needed, ensures title area is consistent */
  overflow-wrap: break-word;
}

#projects .card-text {
  flex-grow: 1; /* This makes the description take up available space */
  min-height: 100px; /* Adjust as needed, ensures description area is consistent */
}

#projects .card .mt-auto {
  margin-top: auto; /* Pushes the buttons to the bottom */
}
